<%= turbo_stream_from room %>
<%= turbo_frame_tag :room_form do %>
  <% if logged_in? && !room.over? %>
    <%= form_with(
      id: dom_id(room),
      url: room_guesses_path(room.id),
      method: :post,
      html: { class: 'my-4' }
    ) do |f| %>
      <% if guess.errors.any? %>
        <div id="error_explanation">
          <ul>
            <% guess.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="form-group">
        <%= f.text_field(
          :word,
          placeholder: 'Enter your guess',
          class: 'form-control',
          maxlength: 5,
          value: guess.word
        ) %>
      </div>

      <div class="actions">
        <%= f.submit 'Guess', class: 'btn btn-primary' %>
      </div>
    <% end %>

    <% # Conceptually this doesn't fit in the form right now, but in a final
       # implementation it would be part of the keyboard and in the meantime
       # we want this to rerender on each successful guess submission without
       # having to stream from a frame. %>
    <%= render partial: 'players/seen_letters',
               locals: { player: current_player } %>
  <% end %>
<% end %>