<%= turbo_stream_from room %>
<%= turbo_frame_tag :room_form do %>
  <% if logged_in? && !room.over? %>
    <%= form_with(
      id: dom_id(room),
      url: room_guesses_path(room.id),
      method: :post
    ) do |f| %>
      <% if guess.errors.any? %>
        <div id="error_explanation">
          <ul>
            <% guess.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= f.hidden_field(:word, id: 'guess') %>
    <% end %>
  <% end %>
<% end %>