<div class="container">
  <h1>Wordle With Friends</h1>

  <%= turbo_stream_from @room %>
  <%= turbo_frame_tag :room_dashboard do %>
    <%= render partial: 'dashboard', locals: { room: @room } %>
  <% end %>

  <%= turbo_frame_tag :room_signup do %>
    <%= render template: 'players/new' %>
  <% end %>

  <%= turbo_frame_tag :room_form do %>
    <%= render template: 'guesses/new',
      locals: { room: @room, guess: Guess.new } %>
  <% end %>

  <%= turbo_stream_from @room, :players %>
  <%= turbo_frame_tag :room_boards do %>
    <%= render partial: 'board', collection: @room.players, as: :player %>
  <% end %>

  <%= turbo_frame_tag :room_keyboard do %>
    <% if current_player %>
      <%= render partial: 'keyboard',
        locals: { room: @room, seen_letters: current_player.seen_letters } %>
    <% end %>
  <% end %>
</div>