<div class="container">
  <h1>Wordle With Friends</h1>
  <h4>A Rails / Hotwire demo</h4>

  <%= turbo_frame_tag :room_form do %>
    <%= render partial: 'form', locals: { room: @room, guess: @guess } %>
  <% end %>


  <div id="game">
    <div id="board-container">
      <div id="board" style="width: 303px; height: 360px;">
        <%= turbo_stream_from :guesses %>
        <%= turbo_frame_tag :guesses do %>
          <%= render @guesses %>
        <% end %>
        <% unless @guesses.count >= 6 %>
          <% (6 - @guesses.length).times do %>
            <%= render partial: 'guesses/empty_row' %>
          <% end %>
        <% end %>
    </div>
    <game-keyboard></game-keyboard>
    <game-nav-modal></game-nav-modal>
    <game-modal></game-modal>
    <game-page></game-page>
  </div>
</div>