<div class="container">
  <h1>Wordle With Friends</h1>

  <%= render partial: 'dashboard', locals: { room: @room } %>

  <%= render partial: 'form', locals: { room: @room, guess: @guess } %>

  <%= turbo_stream_from @room %>
  <%= turbo_frame_tag :room_players do %>
    <%= render partial: :player, collection: @players, as: :player %>
  <% end %>
</div>